# Ignore Visual Studio temporary files and folders
.vs/
*.user
*.suo
*.cache
*.csproj.user

# Ignore build output from bin/ and obj/ folders, but NOT from the published folder
bin/
obj/

# Don't ignore exe and dll files in the published folder
!/published/**/*.exe
!/published/**/*.dll

# Ignore personal settings
*.config
*.dbmdl
*.pdb

# Ignore packages folder
packages/

# Ignore Rider settings (if using JetBrains Rider)
.idea/

# Ignore other unwanted files
.DS_Store   # For MacOS
Thumbs.db   # For Windows
